@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import '../../utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: $white;

  &__overlay {
    background-color: rgba($black, 0.8);
    width: 100%;
    min-height: 100vh;
  }

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 44px 97px;
  }
}
